.app {
  min-height: 100vh;
  width: 100%;

  background: #090909;
}

.character-screen {
  position: relative;

  min-height: 100vh;
  width: 100%;

  overflow: hidden;

  display: flex;
  align-items: center;
}
/*Menu*/
.character-menu {
  position: absolute;
  left: 8%;
  bottom: 12%;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.character-menu button {
  border: none;
  background: none;

  color: rgba(255, 255, 255, 0.45);

  font-size: 2rem;
  font-weight: 800;

  text-align: left;

  cursor: pointer;

  transition: 0.2s ease;
}

.character-menu button:hover {
  color: white;
  transform: translateX(10px);
}

.character-menu button.selected {
  color: var(--primary);

  transform: translateX(20px);

  text-shadow:
    0 0 12px var(--primary);
}
/*TITULO*/
.character-title {
  position: absolute;

  top: 15%;
  left: 35%;
}

.character-title p {
  font-size: 0.8rem;
  letter-spacing: 5px;

  opacity: 0.5;

  margin-bottom: 15px;
}

.character-title h1 {
  font-size: 6rem;
  font-weight: 900;

  letter-spacing: 8px;

  line-height: 0.9;

  color: var(--primary);

  text-shadow:
    0 0 20px var(--primary);
}

.character-title span {
  display: block;

  margin-top: 15px;

  font-size: 1rem;
  letter-spacing: 4px;

  opacity: 0.7;
}
/*INFO*/
.character-info {
  position: absolute;

  right: 8%;
  bottom: 15%;

  text-align: right;
}

.character-info span {
  font-size: 0.7rem;
  letter-spacing: 4px;

  opacity: 0.5;
}

.character-info h2 {
  margin-top: 8px;

  font-size: 1rem;
  letter-spacing: 2px;
}
.character-background {
  position: absolute;

  inset: 0;

  background-size: cover;
  background-position: center;

  z-index: 0;

  filter: brightness(0.55);

  animation: characterEnter 0.6s ease-out;
}
.character-title,
.character-menu,
.character-info {
  z-index: 1;
}

@keyframes characterEnter {
  from {
    opacity: 0;
    transform: scale(1.08);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.character-overlay {
  position: absolute;

  inset: 0;

  z-index: 0;

  background:
    linear-gradient(
      90deg,
      var(--secondary) 0%,
      rgba(0, 0, 0, 0.65) 45%,
      rgba(0, 0, 0, 0.15) 100%
    );

  opacity: 0.9;

  pointer-events: none;
}